<header class="header">
  <div class="container">
    <div class="header__branding">
      <a routerLink="/">
        SB
      </a>
    </div>
    <div class="header__buttons">
      <nav>
        <a
          class="menu-item"
          mat-button
          color="accent"
          routerLink="/recipes"
          routerLinkActive="mat-raised-button"
          >Recepies</a
        >
        <a
          class="menu-item"
          mat-button
          color="accent"
          routerLink="/shopping-list"
          routerLinkActive="mat-raised-button"
          >Shopping list</a
        >
        <a
          class="menu-item"
          mat-button
          color="accent"
          routerLink="/pantry"
          routerLinkActive="mat-raised-button"
          >Pantry</a
        >
        <a
          class="menu-item"
          mat-button
          color="accent"
          routerLink="/login"
          routerLinkActive="mat-raised-button"
          >Login</a
        >
      </nav>
    </div>
    <mat-divider></mat-divider>
  </div>
</header>
