// typography
$fontBase: 'Roboto', sans-serif;
$fontSpecial: 'Roboto Slab', serif;
$letterSpaceing-big: 12px;
$letterSpaceing-default: 5px;

// Widths
$containerWidth: 1024px;

// Misc
$borderRadius-default: 5px;

// Colors
$colorBlack: #000;
$colorWhite: #fff;

$colorPelorous: #34b1c2;
$colorAquamarine: #65fbd2;
$colorPersimmon: #ff6347;

$colorPrimary: $colorPelorous;
$colorAccent: $colorAquamarine;
$colorWarn: $colorPersimmon;
