@import '../../../../styles/variables';

.mat-dialog {
  &__add-ingredient {
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 30px;
  }

  &__title,
  &-content {
    max-width: 80%;
    padding: 0 24px;
    margin: 0 auto;
  }

  &__title {
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: $letterSpaceing-default;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    > [class*='field-'] {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .field-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    &-number {
      width: 100%;
      max-width: 30%;
    }

    &-radios {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      max-width: 60%;

      .field-radio {
        margin-bottom: 10px;
      }
    }
  }

  .form-submit {
    margin-left: auto;
  }

  .mat-form-field {
    width: 100%;
  }
}
