<form class="mat-dialog__add-ingredient mat-dialog">
  <button mat-stroked-button (click)="onClose()" class="mat-dialog__close">
    Cancel
  </button>
  <h1 class="mat-dialog__title">Add Ingredient</h1>
  <form mat-dialog-content>
    <form
      class="mat-dialog__form"
      [formGroup]="addIngredientForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="field-name">
        <mat-form-field>
          <mat-label>Ingredient name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div class="field-amount">
        <mat-form-field class="field-amount-number">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount" type="text" />
        </mat-form-field>
        <mat-radio-group
          formControlName="unit"
          aria-labelledby="ingredient-unit"
          class="field-amount-radios"
        >
          <label *ngFor="let unit of filteredUnits | async">
            <mat-radio-button class="field-radio" [value]="unit">
              {{ unit }}
            </mat-radio-button>
          </label>
        </mat-radio-group>
      </div>
      <div class="field-caterory">
        <mat-form-field>
          <input
            type="text"
            placeholder="Select category"
            aria-label="Number"
            matInput
            formControlName="category"
            [matAutocomplete]="autoCategories"
          />
          <mat-autocomplete #autoCategories="matAutocomplete">
            <mat-option
              *ngFor="let category of filteredCategories | async"
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-actions">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          class="form-submit"
          [disabled]="!addIngredientForm.valid"
        >
          Add Ingredient
        </button>
      </div>
    </form>
  </form>
</form>
